<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" 
"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
	<context id="prod">
		<!-- 指定生成的java文件的编码,没有直接生成到项目时中文可能会乱码 -->
        <property name="javaFileEncoding" value="UTF-8"/>
    
		<!-- RowBounds pagination -->
		<plugin type="org.mybatis.generator.plugins.RowBoundsPlugin" />
		<plugin
			type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin" />
		<!-- <plugin type="org.mybatis.generator.plugins.SerializablePlugin" /> -->

	
		<!-- <commentGenerator> <property name="suppressDate" value="true" /> 关闭自动生成的注释 
			<property name="suppressAllComments" value="true" /> </commentGenerator> -->
		<!--!!!  当前项目下的工具类位置 -->
		<commentGenerator type="com.ssm.wuye.appcomm.MyCommentGenerator"/>
  	
		<!-- 数据库链接URL、用户名、密码  jja1804ssmwu-->
		<jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
			connectionURL="jdbc:mysql://teacherzhu.uicp.net:34626/jja1804_ssmwuye?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC"
			userId="jja1804ssmwu" password="123123" />
		<!--生成注解实体类，继承一个标准的父类  -->
		<javaModelGenerator targetPackage="com.ssm.wuye.domain" targetProject="src">
			<!-- 是否针对string类型的字段在set的时候进行trim调用 -->
			<property name="trimStrings" value="true" />
			<!--<property name="rootClass" value="com.ssm.wuye.appcomm.BaseEntity" />-->
		</javaModelGenerator>
		
		<!--生成注解接口  -->
		<javaClientGenerator
			targetPackage="com.ssm.wuye.dao" targetProject="src" type="ANNOTATEDMAPPER" />

		<!-- 只关注自己的数据表 ，注意备份   -->

		<!-- type="ANNOTATEDMAPPER",生成基于注解的Mapper接口 type="MIXEDMAPPER",生成最小的基于注解的Mapper接口 
			type="XMLMAPPER",生成SQLMap XML文件和独立的Mapper接口 -->


		<table tableName="tb_matter" domainObjectName="Tbmatter"/>
		<!--
		<table tableName="wy_house_type" domainObjectName="WyHousetype"/>
		<table tableName="wy_house" domainObjectName="WyHouse"/>
		<table tableName="Contract" domainObjectName="Contract"/>
		<table tableName="adminfo" domainObjectName="Adminfo" />
		<table tableName="complaininfo" domainObjectName="Complaininfo"/>
		<table tableName="electricmenter" domainObjectName="Electricmenter"/>
		<table tableName="gasmeter" domainObjectName="Gasmeter"/>
		<table tableName="housetype" domainObjectName="Housetype"/>
		<table tableName="newscontent" domainObjectName="Newscontent"/>
		<table tableName="newstype" domainObjectName="Newstype"/>
		<table tableName="outsidecarparkinginfo" domainObjectName="Outsidecarparkinginfo"/>
		<table tableName="ower" domainObjectName="Ower"/>
		<table tableName="owerfamily" domainObjectName="Owerfamily"/>
		<table tableName="parkingplaceinfo" domainObjectName="Parkingplaceinfo"/>
		<table tableName="program" domainObjectName="Program"/>
		<table tableName="programtype" domainObjectName="Programtype"/>
		<table tableName="repair_information" domainObjectName="Repairinformation"/>
		<table tableName="role" domainObjectName="Role"/>
		<table tableName="tb_charge" domainObjectName="Tbcharge"/>
		<table tableName="tb_matter" domainObjectName="Tbmatter"/>
		<table tableName="tb_matter_sort" domainObjectName="Tbmatter_sort"/>
		<table tableName="tb_pay" domainObjectName="Tbpay"/>
		<table tableName="watermeter" domainObjectName="Watermeter"/>
-->

<!--
	<table tableName="guanggao" domainObjectName="Guanggao" enableCountByExample="false" enableUpdateByExample="true" enableDeleteByExample="false" enableSelectByExample="true" selectByExampleQueryId="true" />
	<table tableName="member" domainObjectName="Member" enableCountByExample="false" enableUpdateByExample="true" enableDeleteByExample="false" enableSelectByExample="true" selectByExampleQueryId="true" />
	<table tableName="smbms_address" domainObjectName="SmbmsAddress" enableCountByExample="false" enableUpdateByExample="true" enableDeleteByExample="false" enableSelectByExample="true" selectByExampleQueryId="true" />
	<table tableName="smbms_bill" domainObjectName="SmbmsBill" enableCountByExample="false" enableUpdateByExample="true" enableDeleteByExample="false" enableSelectByExample="true" selectByExampleQueryId="true" />
	<table tableName="smbms_provider" domainObjectName="SmbmsProvider" enableCountByExample="false" enableUpdateByExample="true" enableDeleteByExample="false" enableSelectByExample="true" selectByExampleQueryId="true" />
	<table tableName="smbms_role" domainObjectName="SmbmsRole" enableCountByExample="false" enableUpdateByExample="true" enableDeleteByExample="false" enableSelectByExample="true" selectByExampleQueryId="true" />
	<table tableName="smbms_user" domainObjectName="SmbmsUser" enableCountByExample="false" enableUpdateByExample="true" enableDeleteByExample="false" enableSelectByExample="true" selectByExampleQueryId="true" />
	<table tableName="team" domainObjectName="Team" enableCountByExample="false" enableUpdateByExample="true" enableDeleteByExample="false" enableSelectByExample="true" selectByExampleQueryId="true" />

-->

	</context>
</generatorConfiguration>
